/.DS_Store
/.vscode
/AI-DJ
/BEB
/C80-proj-template-main
/CLAZZ EGHTY
/For mom!
/Kwitter REDECORR
/MUSTCHIO WII WII
/Quiccdraw
/Superhero 3!
/Website-Template
/Z A H A N D O
/ai obj detect
/car
/caze zdudee
/consle
/dogcatdetecc
/famile
/first p5 proojec
/globane stoll
/jonny.png
/main.js
/math :(
/moosic
/obj.detectproj
/object-detection
/pong
/sqûare
/style.css
/superher2
/superheroo
/voice command canvas